<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NorthwindDBConnection" connectionString="Data Source=(localdb)\ProjectsV12;
                                          Initial Catalog=Northwind;
                                          Integrated Security=True;
                                          Pooling=False;
                                          Connect Timeout=30"/>
  </connectionStrings>
</configuration>